h1, h2 {
    margin:auto;
    text-align: center;
}

.centered {
    display:block;
    margin:auto;
}

#middle {
    display:block;
    margin:auto;
    width: 5%;
    background-color: chartreuse;
    padding:1%
}

#leftFighter, #rightFighter {
    width: 20%;
    background-color: chartreuse;
    padding:1%
}

.cen {
    display:flex;
    justify-content: center;
    padding:5px;
}


#leftFighter {
    margin-left: 10%;
    float: left
    
}

#rightFighter {
    margin-right: 10%;
    float: right
}


.flex { 
    display:flex;
    justify-content: space-evenly; }