main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 3fr 1fr 4fr 1fr;
    grid-template-rows: 30px 50px 5fr
}

header{
    grid-column-start: 1;
    grid-column-end: span 7
}

h1, h2 {
    margin:auto;
    text-align: center;
}

.centered {
    display:block;
    margin:auto;
}





.cen {
    display:flex;
    justify-content: center;
    padding:5px

}


#leftFighter {
    grid-column-start: 2;
    grid-row-start: 3;
    
}

#middle {
    display:block;
    margin:auto;
    grid-column-start: 4;
    grid-row-start: 3;
}

#rightFighter {
    grid-column-start: 6;
    grid-row-start: 3;
}


.flex { 
    display:flex;
    justify-content: space-evenly; }

#results {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: span 5;
    text-align:center;
}

#leftImg, #rightImg {
    position: relative;
    z-index: -1;
}

#leftImg{
    float:right
}

body {
    background-color:#90f3a4;
}
